#colonne-m {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  left: 0%;
}

#colonne-d {
  text-align: center;
  padding-left: 1rem;
  padding-right: 0rem;
  width: 100%;
  right: 0%;
}

.ui.item.menu,
.ui.item.menu .item {
  -webkit-box-pack: initial !important;
  display: -webkit-box !important;
}

.pushable > .pusher {
  overflow-y: hidden;
}

thead {
  visibility: hidden;
  height: 0;
}
