#body {
    background-image: url(images/bg.png);
    background-repeat: repeat;
    text-align: center;
    background-attachment: fixed;
    background-size: contain;
    font-size: 100%;
    font-family: 'Orbitron', sans-serif;
}

.pusher {
    background-image: url(images/bg.png);
    background-attachment: fixed;
    background-size: contain;
}

#top-menu {
    width: 101%;
    z-index: 998;
}

#colonne-m {
    width: 20%;
}

#colonne-d {
    text-align: center;
    width: 78%;
}

.bronze {
	color: rgb(148, 124, 52);
	text-shadow: 0.1vh 0px 0px rgb(120, 100, 0);
}

.argent {
	color: rgb(148, 148, 148);
	text-shadow: 0.1vh 0px 0px rgb(148, 148, 148);
}

.or {
	color: rgb(255, 190, 0);
	text-shadow: 0.1vh 0px 0px rgb(120, 100, 0);
}

.platine {
	color: rgb(214, 214, 214);
	text-shadow: 0px 0px 3vh rgb(1, 73, 110);
}

.bleu {
	color: #027ce0;
	text-shadow: 0px 0px 3vh #192cbb;
}

.rose {
	color: rgb(237, 34, 255);
	text-shadow: 0px 0px 3vh rgb(104, 6, 124);
}

.violet {
    color: rgb(137, 47, 255);
    text-shadow: 0 0 3vh rgb(37, 0, 80);
}

.vert {
    color: #21ba45;
}

.gris {
	color: rgb(150, 150, 150);
}

.rouge {
    color: rgb(229, 46, 35);
}

.jaune {
	color: #FFF000;
}

.blanc {
    color: #FFF;
    text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.noir {
    color: rgba(128, 128, 128, 1.0);
    text-shadow: 0 0 0 rgba(160, 160, 160, 0.35);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */
}

.type2 {
    font-family: 'Titillium Web', sans-serif;
}

.type1 {
    font-family: 'Orbitron', sans-serif;
}

.type3 {
    font-size: 90%;
}

.Bronze {
    color: #B87833;
    text-shadow: 0 0 3vh rgb(119, 69, 4);
}

.Silver {
    color: rgb(94, 94, 94);
    text-shadow: 0 0 3vh rgb(80, 80, 80);
}

.Gold {
    color: #FDD017;
    text-shadow: 0 0 3vh rgb(219, 255, 14);
}

.Palladium {
    color: rgb(221, 219, 217);
}

.Platinum {
    color: rgba(206, 208, 221, 1);
    text-shadow: 0 0 3vh rgb(13, 220, 235);
}

.ui.inverted.table {
    background: rgba(0, 0, 0, 0.0);
}

.ui.black.message, .ui.inverted.message {
    background-color: rgba(255, 255, 255, 0.1);
}

.text {
    color: #FFF;
}

.ui.selection.active.dropdown {
    border-color: rgba(239, 239, 239, 0.5);
}

.ui.selection.dropdown {
    background: rgba(0, 0, 0, 0.3);
    color: rgba(255, 255, 255, 1);
}

.ui.selection.active.dropdown .menu {
    border-color: rgba(255, 255, 255, 0.5);
}

.ui.dropdown .menu {
    background: rgba(0, 0, 0, 0.5);
}

.ui.selection.visible.dropdown>.text:not(.default) {
    color: rgba(255, 255, 255, 1);
}
.ui.dropdown .menu>.item:hover {
    color: rgb(219, 40, 40);
}

.ui.dropdown .menu>.item.active {
    color: rgb(219, 40, 40);
}

.ui.dropdown .menu>.item {
    color: rgb(255, 255, 255);
}

.ui.buttons .or:before {
    background-color: rgba(0, 0, 0, 0.7);
    color: rgb(255, 255, 255);
}

body ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, #500101 51%, #230031 100%);
}

body ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom, #500101 51%, #230031 100%);
}

body ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.7);
}

.ui.inverted.table th {
    background-color: rgba(0,0,0,0.0);
}

.ui.grid>[class*="very relaxed"].row>.column, .ui[class*="very relaxed"].grid>.column:not(.row), .ui[class*="very relaxed"].grid>.row>.column {
    padding-left: 0rem;
    padding-right: 0rem;
}

.shadow {
    background-color: rgba(0,0,0,0.15);
}

.azn {
    background-color: rgba(70, 255, 70, 0.10);
}

.azn-active {
    background-color: rgba(70, 255, 70, 0.25);
}

.pushable>.pusher {
    overflow-y: auto;
}

.bold {
    font-weight: bold;
}

.topmenu-space {
    padding: 4vh;
}

.centrer {
    text-align: center;
}

.ui.spacel.menu {
    transition: 1.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to left, #230031 0%, #500101 51%, #230031 100%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.ui.spacel.menu:hover {
    background-position: right center; /* change the direction of the change here */
  }

  .ui.red.button {
    transition: 1.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to left, #310036 0%, #520004 51%, #310036 100%);
  }

  .ui.red.button:focus {
    background-image: linear-gradient(to left, #310036 0%, #520004 51%, #310036 100%);
  }

  .ui.red.button:hover, .ui.red.buttons:hover {
    background-position: right center; /* change the direction of the change here */
  }

  .ui.green.button {
    transition: 1.5s;
    background-size: 200% auto;
    background-image: linear-gradient(to left, #061f46 0%, #073a01 51%, #061f46 100%);
  }

  .ui.green.button:focus {
    background-image: linear-gradient(to left, #310036 0%, #520004 51%, #310036 100%);
  }

  .ui.green.button:hover, .ui.green.buttons:hover {
    background-position: right center; /* change the direction of the change here */
  }

 .ui.spacel.buttons {
    transition: 1.5s;
    border-radius: 0.1vw;
    background-size: 200% auto;
    background-image: linear-gradient(to left, #310036 0%, #520004 51%, #310036 100%);
  }

  .ui.spacel.button, .button {
      background-color: transparent;
  }

  .ui.button:hover, .button:hover {
    background-color: #520004;
}

  .ui.button {
    background: none;
  }
  
  .ui.button, .ui.menu .item, .ui.basic.button {
      color: rgba(255, 255, 255, 1.0)!important;
  }

.spacelborder {
    background: none!important;
    color: rgba(255, 255, 255, 1.0)!important;
    border: 0.5px solid #ffffff!important;
}

.ui.button:disabled, .ui.buttons .disabled.button, .ui.disabled.active.button, .ui.disabled.button, .ui.disabled.button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.ui.inverted.menu {
    background-image: linear-gradient(to bottom, #520004 0%, #310036 50%); 
}

.color1 {
    color: #520004;
}

.C1 {
    background: linear-gradient(to right, #b30009 0%, #600769 70%, #600769 100%); 
    text-shadow: 0 0 2vh rgba(170, 70, 70, 0.4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .ui.message {
    background: #f8f8f900;
    color: #ffffff;
    -webkit-box-shadow: 0 0 0 0px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
    box-shadow: 0 0 0 0px rgba(34,36,38,.22) inset, 0 0 0 0 transparent;
}