#body {
  background-repeat: repeat;
  text-align: center;
  background-attachment: fixed;
  background-size: contain;
  font-size: 100%;
}

.pusher {
  background: #040404;
}

.argent {
  color: rgb(148, 148, 148);
}

.or {
  color: rgb(255, 190, 0);
}

.platine {
  color: rgb(214, 214, 214);
}

.bleu {
  color: #027ce0;
  text-shadow: 0px 0px 3vh #192cbb;
}

.rose {
  color: rgb(237, 34, 255);
}

.violet {
  color: rgb(137, 47, 255);
}

.vert {
  color: #21ba45 !important;
}

.gris {
  color: rgb(150, 150, 150);
}

.rouge {
  color: rgb(229, 46, 35);
}

.jaune {
  color: rgb(226, 185, 4);
  text-shadow: 0 0 0.2vh rgb(238, 255, 7);
}

.blanc {
  color: rgb(0, 0, 0);
  text-shadow: 0 0 0 rgba(255, 255, 255, 0);
}

.noir {
  color: rgba(128, 128, 128, 1);
  text-shadow: 0 0 0 rgba(160, 160, 160, 0.35);
}

.type2 {
  font-family: "Titillium Web", sans-serif;
}

.type1 {
  font-family: "Nunito Sans", sans-serif;
}

.type3 {
  font-family: "Titillium Web", sans-serif;
  font-size: 100%;
}

.type4 {
  font-family: "Titillium Web", sans-serif;
  font-size: 120%;
}

.Silver {
  color: rgb(94, 94, 94);
  text-shadow: 0 0 3vh rgb(80, 80, 80);
}

.Gold {
  color: #fdd017;
  text-shadow: 0 0 0.2vh rgb(219, 255, 14);
}

.Palladium {
  color: rgb(0, 0, 0);
}

.Platinum {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 3vh rgb(13, 220, 235);
}

.ui.black.message,
.ui.inverted.message {
  background-color: #ffffff;
  color: #000000;
}

.text {
  color: rgb(0, 0, 0);
}

.ui.selection.active.dropdown {
  border-color: rgba(239, 239, 239, 0.5);
}

.ui.selection.dropdown {
  background: rgba(0, 0, 0, 0.3);
  color: rgb(255, 255, 255);
}

.ui.selection.active.dropdown .menu {
  border-color: rgba(255, 255, 255, 0.5);
}

.ui.dropdown .menu {
  background: rgba(0, 0, 0, 0.5);
}

.ui.selection.visible.dropdown > .text:not(.default) {
  color: rgba(255, 255, 255, 1);
}
.ui.dropdown .menu > .item:hover {
  background: rgba(255, 255, 255, 0.5);
}

.ui.dropdown .menu > .item.active {
  color: rgb(255, 255, 255);
}

.ui.dropdown .menu > .item {
  color: rgb(255, 255, 255);
}

.ui.buttons .or:before {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgb(255, 255, 255);
}

body ::-webkit-scrollbar-thumb {
  background: #ffffff;
}

body ::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

body ::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.7);
}

.ui.inverted.table th{
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 1)!important;
}

.ui.inverted.table {
  color: rgba(0, 0, 0, 1);
}

.ui.SLStars.menu {
  background: #ffffff;
  color: #000000;
  transition: 1.5s;
  background-size: 200% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ui.red.button {
  border: 1px black solid;
  transition: 1.5s;
  background-size: 200% auto;
  background: #ffffff;
  color: #000000;
}

.ui.red.button:focus,
.ui.red.button:active,
.ui.red.button:hover {
  background: #ffffff;
  color: #000000;
}

.ui.SLStars.buttons {
  transition: 1.5s;
  border-radius: 0.2vw;
  border: 1px black solid;
  background-size: 200% auto;
  background: #ffffff;
  color: #000000;
}

.ui.SLStars.buttons.disabled {
  background: #000000;
  color: #fff;
}

.ui.SLStars.button,
.button {
  background-color: transparent;
}

.ui.button:hover,
.button:hover {
  background: #00000050;
  color: #000000;
}

.ui.button {
  background: none;
}

.ui.button,
.ui.basic.button {
  color: rgb(0, 0, 0) !important;
}

.ui.menu .item {
  color: rgb(0, 0, 0) !important;
}

.SLStarsborder {
  background: rgb(56, 178, 253) !important;
}

.SLStarsborder:hover {
  background: rgb(56, 178, 253) !important;
}

#t1.item,
#t2.item,
#t3.item,
#t4.item {
  color: #000000 !important;
}

.item.SLStarsborder {
  color: #ffffff !important;
}

.ui.button:disabled,
.ui.buttons .disabled.button,
.ui.disabled.active.button,
.ui.disabled.button,
.ui.disabled.button:hover {
  background: rgb(0, 0, 0);
}

#copyright {
  color: rgb(0, 0, 0);
}

.ui.segment {
  background-color: transparent;
  border: none;
}

.ui.red.inverted.progress .bar {
  background-color: #db2828;
}

.ui.inverted.menu {
  background: rgb(56, 178, 253);
}

.C1 {
  background: linear-gradient(to right, #000000 0%, #000000 70%, #000000 100%);
  text-shadow: 0 0 2vh rgba(255, 255, 255, 0.1);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#selection {
  border: 1px black solid;
}

.ui.divider.inverted, .ui.horizontal.inverted.divider, .ui.vertical.inverted.divider {
  color: #000000;
}
